{% extends "base.html.twig" %}
{% block title %} Ajouter des videos traduites {% endblock %}
{% block style %} <link href="css/text.css" rel="stylesheet"> {% endblock %}
{% block contenu %}

{% if form.trad is defined %}
        {% if form.ajout is defined %}
            {% if form.ajout == false %}
            <div class="mx-auto" style="width: 400px;">
                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Echec de l'ajout</h1>
                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Erreur : {{form.message}}</h1>
            </div>
            {% else %}
                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"><em>Ajout réussi</em></h1>
            {% endif %}
        {% endif %}
       <div class="mx-auto" style="width: 100%">
            <form action="" method="post" enctype="multipart/form-data">
            <span>Importez votre vidéo </span>
            <input  type="file" accept=".mp4,.MP4" name="video" id="video"  style="margin-top : 10px;"/> <br> <br>
            <input class="btn btn-success" type="submit" name="submit" value="Ajouter" styke = "margin-top : 10px;" />
            </form>
        </div>
{% else %}

<h3 class="container"> Liste des vidéos n'ayant pas de traduction associée</h3>

{% for video in listeVideo %}

<a href="index.php?page=ajoutVideoTrad&id={{video.idVideo}}" class="blackText" title="{{video.Titre}}" style="margin-left : 10px; margin-right : 10px">
    <div class="card mb-3" style="max-width: 1500px;">
  <div class="row g-0">
    <div class="col-md-4">
      
      <video class ="class="img-fluid rounded-start"" style="max-height:200px; max-width:300px">
        <source src="{{video.UrlInit}}" type="video/mp4">
        </video>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{video.Titre}}</h5>
        <p class="card-text">{{video.DescriptionVideo}}</p>
      </div>
    </div>
  </div>
</div>
</a>
{% endfor %}

{% endif %}

{% endblock %}