{% extends "base.html.twig" %}
{% block title %} Liste des vidéos {% endblock %}
{% block style %} <link href="css/text.css" rel="stylesheet"> {% endblock %}
{% block contenu %}

{% if form.supp is defined %}
  {% if form.supp == true %}
  <h3> La vidéo a bien été supprimée </h3>
  <a href="index.php?page=gestionVideoInit"> Revenir à la gestion des videos non traduites </a> 
  {% else %}
  bug
  {% endif %}
{% else %}
{% if form.uneVideo is defined %}
<div class="card mb-3" width="50%" >
  <div class="row g-0">
    <div class="col-md-4">
      
      <video class ="class="img-fluid rounded-start"" style="max-height:200px; max-width:300px">
        <source src="{{videos.UrlTrad}}" type="video/mp4">
        </video>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{videos.Titre}}</h5>
        <p class="card-text">{{videos.DescriptionVideo}}</p>
      </div>
    </div>
  </div>
</div>

<h3 style="font-weight : bold; margin-top : 10px;">Que souhaitez vous faire ? </h3>
<a href="index.php?page=modifVideoTrad&id={{videos.IdVideoTrad}}" style="text-decoration: none" ><button class="btn-warning btn">Modifier</button> </a>
<a href="index.php?page=supprimerVideo&id={{videos.IdVideoTrad}}&trad=1" style="text-decoration: none" ><button class="btn-danger btn">Supprimer</button> </a>

{% else %}

<h3 style="font-weight : bold; margin-top : 10px;"> Gestion des vidéos traduites </h3>
{% if listeVideo|length > 0 %}
  {% for video in listeVideo %}
  <a href="index.php?page=gestionVideoTrad&id={{video.IdVideoTrad}}" class="blackText" title="{{video.Titre}}" width="50%" style="margin-left : 10px; margin-right : 10px">
      <div class="card mb-3" width="50%" >
    <div class="row g-0">
      <div class="col-md-4">
        
        <video class ="class="img-fluid rounded-start"" style="max-height:200px; max-width:300px">
          <source src="{{video.UrlInit}}" type="video/mp4">
          </video>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{video.Titre}}</h5>
          <p class="card-text">{{video.DescriptionVideo}}</p>
        </div>
      </div>
    </div>
  </div>
  </a>
  {% endfor %}
{% else %}
<br><h4 style="font-weight : bold; margin-top : 10px;"> Aucune vidéo à afficher</h3>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}