{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Gestion Association {% endblock %}
{% block contenu %}

    <br/><br/>
    <h3 style="text-align: center"> Liste des associations </h3>
    <br/><br/>

    <div class="mx-auto" style="width: 1000px;">

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nom de l'association</th>
                <th scope="col">Nom du réferant</th>
                <th scope="col">Email du réferent</th>
                <th scope="col">adresse</th>
                <th scope="col">téléphone</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            {% for a in liste %}
            <tr>
                <td> {{ a.NomAssociation }} </td>
                <td> {{ a.Nom }} </td>
                <td> {{ a.Email }} </td>
                <td> {{ a.Adresse }} </td>
                <td> {{ a.NumTelephone }} </td>
                <td>
                    <ul class="nav justify-content-end">
                        <a href="index.php?page=ajoutAssociation&id={{ a.id }}" class="text-reset" style="padding-right: 10px"><i class="fa fa-pencil" aria-hidden="true" > </i> </a>
                        <a href="#" class="text-reset" style="padding-right: 10px"><i class="fa fa-trash" aria-hidden="true" > </i> </a>

                    </ul>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>



{% endblock %}