{% extends "base.html.twig" %}
{% block title %} Liste des vidéos {% endblock %}
{% block style %} <link href="css/text.css" rel="stylesheet"> {% endblock %}
{% block contenu %}


    
        {% if form.Trad is defined %}
            {% if form.Trad == true %}
            <h3>Une vidéo traduite est disponible, souhaitez vous la visionner ?</h3>
            <br><br>
            <a href="index.php?page=listeVideo&id={{idVideo}}&trad=0" style="text-decoration: none" ><button class="btn btn-danger">Non</button> </a>
            <a href="index.php?page=listeVideo&id={{idVideo}}&trad=1" style="text-decoration: none" ><button class="btn btn-success">Oui</button> </a>
            {% else %}
            Il n'y pas encore de traduction disponible pour cette vidéo.
            <br>
            <a href="index.php?page=listeVideo&id={{idVideo}}&trad=0" style="text-decoration: none" ><button class="btn btn-primary">Continuer</button> </a>
            {% endif %}
        {% elseif form.uneVideo is defined %}
        {% if trad == 0  %}
        <br>
        <h3 style = "font-weight : bold" >{{videos.Titre}}</h3>
        <br>
        <video controls  width="500" height="350">
            <source src="{{videos.UrlInit}}" type="video/mp4">
        </video>
        {% else %}
        <br>
        <h3 style = "font-weight : bold">{{videos.Titre}}</h3>
        <br>
        <video controls class ="col-md-6" width="500" height="350">
            <source src="{{videos.UrlTrad}}" type="video/mp4">
        </video>
        {% endif %}
        {% else %}
        
<h3 style="font-weight : bold; margin-top : 10px;"> Liste des ressources </h3>
{% for video in listeVideo %}
<a href="index.php?page=listeVideo&id={{video.idVideo}}" class="blackText" title="{{video.Titre}}" style="margin-left : 10px; margin-right : 10px">
    <div class="card mb-3" style="max-width: 1500px;">
  <div class="row g-0">
    <div class="col-md-4">
      
      <video width="320" height="150">
        <source src="{{video.UrlInit}}" type="video/mp4">
        </video>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{video.Titre}}</h5>
        <p class="card-text">{{video.DescriptionVideo}}</p>
      </div>
    </div>
  </div>
</div>
</a>
{% endfor %}
{% endif %}
{% endblock %}