{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Reservation {% endblock %}
{% block pasCentre %}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-2 "></div>
            <div class="col-md-3 ">

                <div class="list-group ">
                    <a href="#" class="list-group-item list-group-item-action active">Options</a>
                    {% for o in optionReservation %}
                        <a href="#" class="list-group-item list-group-item-action">{{ o.nomOption }}</a>
                    {% endfor %}


                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>  Réservé par {{ uneReservation.NomLocataire}} {{ uneReservation.PrenomLocataire }} </h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    {% if form.reservation == true %}

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label> Nom de l'association :</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> {{ uneReservation.NomAssociation }}</p>
                                        </div>
                                    </div>

                                    {% endif %}

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label> Adresse :</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> {{ uneReservation.EmailLocataire }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label> Email :</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> {{ uneReservation.AdresseLocataire }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label> Telephone :</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> 0{{ uneReservation.TelLocataire }}</p>
                                        </div>
                                    </div>  <div class="row">
                                        <div class="col-md-6">
                                            <label> Motif :  </label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> {{ uneReservation.Motif }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label> Salle :  </label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> {{ salleReservation.nomSalle }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label> Date : </label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> Réservé du {{ uneReservation.DateDebut  }} au {{ uneReservation.DateFin }}</p>
                                        </div>
                                    </div>



                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}