{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Reservation {% endblock %}
{% block pasCentre %}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-2 "></div>
            <div class="col-md-3 ">

                <div class="list-group ">
                    <a href="#" class="list-group-item list-group-item-action active">Options</a>
                    {% for o in optionSalle %}
                        <a href="#" class="list-group-item list-group-item-action">{{ o.libelle }}</a>
                    {% endfor %}


                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>  {{ uneReservation.NomAssociation }} </h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label> Superficie </label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> {{ uneSalle.superficie }}</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label> Prix par jour </label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> {{ uneSalle.prix}} </p>
                                        </div>
                                    </div>


                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}