{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Réserver {% endblock %}
{% block pasCentre %}


    {% if form.valide is defined %}
    <div class="row" >
        <div class="mx-auto text-center">
        {% if form.valide == true %}


            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Réservation réussie</h1>
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"><a href="index.php?page=reserver" >Retourner sur l'ajout d'une réservation</a></h1>

        {% else %}


                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Erreur : {{form.message}}</h1>
                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"><a href="index.php?page=reserver" >Retourner sur l'ajout d'une réservation</a></h1>
        {% endif %}
        </div>
    </div>
    {% else %}



    <br/><br/>
    <div class="loader"></div>
    <form method="POST" action="index.php?page=reserver">
        <div class = "form-row">
            <div class ="col-md-1"></div>
            <div class="col-md-4">


                        <label for="validationCustom01">Association</label>
                        <select class="form-control" name="idAssociation" id="idAssociation" style="margin-bottom: 20px" >
                            <option value="0">(Aucune) </option>
                            {% for a in listeAssociation %}
                                <option value="{{ a.id }}">{{ a.NomAssociation }}</option>
                            {% endfor %}
                        </select>


                <div >
                    <input type="text" class="form-control" id="nomAssociation" name="nomAssociation" hidden>
                </div>
                <div >
                    <label for="validationCustom01">Nom du locataire</label>
                    <input type="text" class="form-control" id="nom" name="nom" value="{{ uneReservation.NomLocataire }}" required>
                </div>
                <div class="">
                    <label for="validationCustom02">Prenom du locataire</label>
                    <input type="text" class="form-control" id="prenom" name="prenom" value="{{ uneReservation.PrenomLocataire }}" required>
                </div>
                <div class="">
                    <label for="validationCustomUsername">Adresse du locataire</label>
                    <input type="text" class="form-control" id="adresse" name="adresse" value="{{ uneReservation.AdresseLocataire }}"  required>
                </div>
                <div class="">
                    <label for="validationCustom01">Email du locataire</label>
                    <input type="text" class="form-control" id="email" name="email" value="{{ uneReservation.EmailLocataire }}" required>
                </div>
                <div class="">
                    <label for="validationCustom01">Numéro de téléphone du locataire</label>
                    <input type="text" class="form-control" id="tel" name="tel" value="{{ uneReservation.TelLocataire }}" required>
                </div>
                <div class="">
                    <label for="validationCustom01">Motif de la réservation</label>
                    <input type="text" class="form-control" id="motif" name="motif" value="{{ uneReservation.Motif }}" required>
                </div>
                <br/><br/>
            </div>
            <div class ="col-md-2"></div>
            <div class="col-md-4">
                <label for="idSalle">Salle</label>
                <select class="form-control" name="idSalle" id="idSalle" style="margin-bottom: 20px" >
                    <option>-- Selectionner une salle --</option>
                    {% for s in listeSalle %}
                        <option value="{{ s.id }}">{{ s.libelle }}</option>
                    {% endfor %}
                </select>

                <label for="optionSalle[]">Options</label>
                <br/><br/>
                <div class="">
                    <div class="form-check row">
                        <div id="option">

                        </div>
                    </div>
                </div>
            </div>
            <div class ="col-md-1"></div>
            <div class ="col-md-2"></div>

            <div class ="col-md-2">
                <div class="">
                    <label for="validationCustomUsername">Date de début</label>
                    <input type="date" class="form-control" id="DateDebut" name="DateDebut" aria-describedby="inputGroupPrepend"  required>
                </div>
            </div>

            <div class ="col-md-2">
                <div class="">
                    <label for="validationCustomUsername">Heure de début</label>
                    <input type="time" class="form-control" id="heureDebut" name="heureDebut" aria-describedby="inputGroupPrepend" required>
                </div>
            </div>
            <div class ="col-md-2">
                <div class="">
                    <label for="validationCustomUsername">Date de fin</label>
                    <input type="date" class="form-control" id="DateFin" name="DateFin" aria-describedby="inputGroupPrepend" required>
                </div>
            </div>
            <div class ="col-md-2">
                <div class="">
                    <label for="validationCustomUsername">Heure de fin</label>
                    <input type="time" class="form-control" id="heureFin" name="heureFin" aria-describedby="inputGroupPrepend" required>
                </div>
                <br/><br/>
                <div class="">
                    <label for="DateTimeDebut" hidden>DateTime debut</label>
                    <input type="text" class="form-control" id="DateTimeDebut" name="DateTimeDebut" aria-describedby="inputGroupPrepend" hidden>
                </div>
                <div class="">
                    <label for="DateTimeFin" hidden>DateTime Fin</label>
                    <input type="text" class="form-control" id="DateTimeFin" name="DateTimeFin" aria-describedby="inputGroupPrepend" hidden>
                </div>
            </div>
            <div class ="col-md-2"></div>
            <div class ="col-md-4"></div>

                    <button class=" btn-lg btn-success col-md 4" id="btValider" name="btValider">Valider</button>

            <div class ="col-md-4"></div>
        </div>


    </form>

{% endif %}

{% endblock %}